/Mcl.Core/bin/x86/Debug/net48/WPFLauncher.dump.exe
/Mcl.Core/bin/x86/Debug/net48/Mcl.Core.pdb
/Mcl.Core/bin/x86/Debug/net48/Newtonsoft.Json.dll
/Mcl.Core/bin/x86/Debug/net48/NLog.dll
/Mcl.Core/bin/x86/Debug/net48/System.CodeDom.dll
/Mcl.Core/bin/x86/Debug/net48/websocket-sharp.dll
/Mcl.Core/bin/x86/Debug/net48/WPFControls.dll
*.pdb
*.json
*.info
*.xml